@font-face {
  font-family: 'Oswald';
  src: local('☺'), url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTMono';
  src: local('☺'), url('../fonts/PTM55FT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------------------------------- */
/* COLORS                                                    */
/* --------------------------------------------------------- */

@import "colors.scss";


/* --------------------------------------------------------- */
/* MIXINS                                                    */
/* --------------------------------------------------------- */

@mixin txtMenuAcc {
	color: #000;
  font: {
    family: 'Arial';
    size: 14px;
  }
}

@mixin txtNormal {
  color: #999;
  font: {
    family: 'PTMono';
    size: 14px;
  }
}

@mixin txtOswald14 {
	font: {
		family: 'Oswald';
		size: 14px;
	}
	text-transform: uppercase;
	font-smoothing: antialiased;
  	-webkit-font-smoothing: antialiased;
  	-moz-font-smoothing: antialiased;
  	letter-spacing: 0.25px;
}



@mixin txtTitulo {
	color: #686f82;
  letter-spacing:-1px;
  // text-shadow: 0px 0px 1px rgba(54, 123, 233, 0.25);
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  line-height: 32px;
  font: {
    family: 'Oswald';
    size: 28px;
  }
}

@mixin txtLink {
	color: #000;
  font: {
    family: 'PTMono';
    size: 14px;
  }
}

/* --------------------------------------------------------- */
/* GERAL                                                     */
/* --------------------------------------------------------- */


html {
	background-color: #f9f9f9;
}

#app {
	width: 100%;
}

.max_1280 {
	max-width: 1280px;
	padding: 0 20px;
}

#perfil {
	padding-top: 30px;
}

/* --------------------------------------------------------- */
/* MENU BAR                                                  */
/* --------------------------------------------------------- */

#app {

	#menuBar {
		height: 60px;
		background-color: $grey25;

		#menu {
			display: flex;
			flex-flow: inline;
			height: 60px;

			#logo {
				height: 60px;
				line-height: 60px;
				img {
					vertical-align: middle;
				}
			}

			#busca {
				.btnSearch {
					vertical-align: middle;
					background-color: $bgBlue;
				}
				.btnSearch:hover {
					background-color: $bgDarkGrey;
				}
			}

			#menuIcons {
				.menuAccBtn {
					cursor: pointer;
				}
			}

			#menuAcc {
				position: absolute;
				width: 180px;
				right: 30px;
				top: 45px;
				&.closed {
					opacity: 0;
					display: none;
				}
				&.open {
					opacity: 1;
					display: block;
				}
				.menuAccSeta {
					height: 7px;
				}
				.menuAccBar {
					height: 5px;
					background-color: $bgBlue;
				}
				.menuAccItem {
					height: 45px;
					@include gGrey;
					.icon {
						width: 45px;
						height: 100%;
						float: left;
						border-right: 1px solid #dcdcdc;
						padding: 10px;
					}
					.text {
						height: 100%;
						float: left;
						border-left: 1px solid #fff;
						padding: 15px 0px 15px 10px;
						@include txtMenuAcc;
					}
				}
			}
		}
	}

	&.l_1280, &.l_1024 {
		#menuBar {
			#menu {
				logo {
					min-width: 190px;
					align-self: center;
				}
				#busca {
					flex: 1 0 auto;
					align-self: center;
				}
				#menuIcons {
					min-width: 100px;
					align-self: center;
				}
			}
		}
	}

	&.l_768 {
		#menuBar {
			#menu {
				#logo {
					min-width: 150px;
					align-self: center;
				}
				#busca {
					flex: 1 0 auto;
					align-self: center;
					.txtSearch {
						min-width: 200px;
					}
				}
				#menuIcons {
					min-width: 75px;
					align-self: center;
				}
			}
		}
	}

	&.l_480 {
		#menuBar {
			#menu {
				#logo {
					flex: 1 0 auto;
					align-self: center;
				}
				#busca {
					flex: 1 0 auto;
					align-self: center;
					.txtSearch {
						min-width: 200px;
					}
				}
				#menuIcons {
					min-width: 75px;
					align-self: center;
				}
			}
		}
	}

}



/* --------------------------------------------------------- */
/* ANNOUNCEMENT BAR                                          */
/* --------------------------------------------------------- */

#announceBar {
	#announce {
		#announce_title {	font: 22px Arial,sans-serif; }
		#announce_desc  { font: 14px Arial,sans-serif; }
		#announce_close {
			position: absolute;
			right: 10px;
			top: 70px;
		}
	}
}

/* --------------------------------------------------------- */
/* FOOTER     				                                       */
/* --------------------------------------------------------- */

#footer {
	z-index: 1000000;
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 0px;
	bottom: -1px;
	border-top: 1px solid #ccc;
	@include txtNormal;

	#handler {
		float: right;
		width: auto;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		border: 1px solid #ccc;
		border-width: 1px 1px 0 1px;
		background-color: #fff;
		margin: -30px 30px 0 0;
		border-radius: 3px 3px 0 0;
		text-align: center;
		cursor: pointer;
	}
}

/* --------------------------------------------------------- */
/* HOME PAGE	    			                             */
/* --------------------------------------------------------- */

#history {
	height: 360px;
	padding: 40px 0px;
	background-color: $grey10;

	#last_product {
		@include txtOswald14;
		img { 
			width: 240px;
			heigth: 240px;
		}
	}

	#categories {
		width: 380px;
		a {
			text-decoration: none;
		}
		a:hover {
			.titulo {
				color: $txtBlue;
			}
			.preco {
				background-color: $bgBlue;
			}
			.preco--last_product {
				@include q95;
			}
		}
		.titulo {
			font: {
				family: 'Oswald';
				size: 22px;
			}
			color: $txtGrey;
			text-transform: uppercase;
			font-smoothing: antialiased;
		  	-webkit-font-smoothing: antialiased;
		  	-moz-font-smoothing: antialiased;
		  	letter-spacing: 0.25px;
		}
		.similar {
			font: {
				family: 'Oswald';
				size: 18px;
			}
			color: $txtGrey;
			text-transform: uppercase;
			font-smoothing: antialiased;
		  	-webkit-font-smoothing: antialiased;
		  	-moz-font-smoothing: antialiased;
			letter-spacing: 0.25px;
		}
		.similar_results {
			ul li {
				display: inline-block;
				margin-right: 2px;
				img {
					width: 90px;
					height: 90px;
				}
				img:after {
					content:"\a";
		    		white-space: pre;
				}
				a {
					text-decoration: none;
				}
				a:hover .preco {
					background-color: $bgBlue;
				}
			}
		}
	}

	#last_searches {
		div ul {
			a {
				text-decoration: none;
			}
			a:hover li {
				background-color: $bgMidGrey;
			}
			li {
				width: 200px;
				height: 35px;
				line-height: 35px;
				display: block;
				margin-bottom: 5px;
				background-color: $bgLightGrey;
				@include txtOswald14;
				color: #fff;
				text-align: center;
			}
		}
	}

	#last_searches_results {
		width: 300px;
		height: 280px;
		ul li {
			display: inline-block;
			img {
				width: 90px;
				height: 90px;
			}
			img:after {
				content:"\a";
	    		white-space: pre;
			}
			a {
				text-decoration: none;
			}
			a:hover .preco {
				background-color: $bgBlue;
			}
		}
	}

}

#categorias {
	background-color: $grey30;
}

#mais_buscados {
	background-color: $grey10;
}

#anuncios {
	background-color: $grey30;
}

#campanha {
	background-color: $grey10;
}

.area_title {
	color: #fff;
	@include gGreen;
	font: {
		family: 'Oswald';
		size: 14px;
	}
	text-transform: uppercase;
	font-smoothing: antialiased;
  	-webkit-font-smoothing: antialiased;
  	-moz-font-smoothing: antialiased;
  	letter-spacing: 0.25px;
  	text-align: center;
  	width: 100%;
  	height: 35px;
  	line-height: 35px;
  	margin-top: 5px;
}

.preco {
	font: {
		family: 'Oswald';
		size: 14px;
	}
	color: #fff;
	text-transform: uppercase;
	font-smoothing: antialiased;
  	-webkit-font-smoothing: antialiased;
  	-moz-font-smoothing: antialiased;
  	letter-spacing: 0.5px;
  	text-align: center;
  	width: 90px;
  	height: 35px;
  	line-height: 35px;
  	margin-top: 5px;
  	background-color: $bgMidGrey;
  	text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}
.preco--last_product {
		@extend .preco;
		background-color: $bgBlue;
	}

/* --------------------------------------------------------- */
/* PERFIL   			                                           */
/* --------------------------------------------------------- */

#app {
	#content {
		#perfil {
			display: flex;
			justify-content: center;
			align-content: flex-start;
			align-items: flex-start;

			#produtos {
				padding-left: 30px;
				padding-right: 30px;

				.titulo {	@include txtTitulo;	}
				.filters {
					@include txtNormal;
					img {
						margin-left: 5px;
					}
				}
				.anuncioBox {
					a {
						font: {
							family: 'Arial';
						}
						text-decoration: none;
					}
					.nome {
						color: #367be9;
						font: {
							family: 'Arial';
						}
					}
				}
			}

			#stats {
				padding-left: 30px;
				padding-right: 30px;
				text-align: center;
				#user_avatar {
					img {
						width: 100%;
					}
				}
				#user_name  { @include txtTitulo; }
				#user_place { @include txtNormal; }
				#user_stats { @include txtNormal;	}
			}

		}
	}

	&.l_1280, &.l_1024 {
		#content {
			#perfil {
				flex-direction: row;
			  flex-wrap: nowrap;
				#produtos {
					flex: 1;
				}
				#stats {
					flex: 0 0 360px;
				}		
			}
		}
	}

	&.l_768 {
		#content {
			#perfil {
				flex-direction: row;
			  flex-wrap: nowrap;
				#produtos {
					flex: 1;
				}
				#stats {
					flex: 0 0 320px;
				}
			}
		}
	}

	&.l_480 {
		#content {
			#perfil {
				flex-direction: column;
			  flex-wrap: nowrap;
				#produtos {
					width: 100%;
				}
				#stats {
					width: 100%;
					margin-top: 50px;
				}
			}
		}
	}

}