/* --------------------------------------------------------- */
/* IMPORTS                                                   */
/* --------------------------------------------------------- */
@import "vendor/bootstrap";
@import "vendor/dmarchi/normalize";

@import "lib/variables";
@import "lib/fonts";
@import "lib/colors";
@import "lib/mixins";

@import "vendor/dmarchi/ui";

@import "sections/menu";
@import "sections/announcement";
@import "sections/home";
@import "sections/footer";
// @import "sections/perfil";

/* --------------------------------------------------------- */
/* GERAL                                                     */
/* --------------------------------------------------------- */
html {
	background-color: #f9f9f9;
}

// body { overflow: hidden; } // for iscroll

#app {
	width: 100%;
}

.r { outline: 1px solid red ;}
.b { outline: 1px solid blue ;}