<div id="modalCadastro" class="modal fade" role="dialog" aria-labelledby="modalCadastro" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modalBar"></div>
			<div class="fields">
				<input type="text" placeholder="Usuário"				id="signin_User"	 		name="signin_User">
				<input type="text" placeholder="Nome"					id="signin_Nome" 			name="signin_Nome">
				<input type="text" placeholder="Sobrenome"				id="signin_Sobrenome" 		name="signin_Sobrenome">
				<input type="text" placeholder="E-mail"					id="signin_Email" 			name="signin_Email">
				<input type="text" placeholder="Confirmação E-mail"		id="signin_Email2"			name="signin_Email2">
				<input type="text" placeholder="Telefone"				id="signin_Tel" 			name="signin_Tel">
				<input type="text" placeholder="CEP"					id="signin_Cep" 			name="signin_Cep">
				<input type="password" placeholder="Senha"				id="signin_Senha" 			name="signin_Senha">
				<input type="password" placeholder="Confirmação Senha"	id="signin_Senha2"			name="signin_Senha2">
				<div><a href="javascript:void(0)" class="botao" id="signin_btn">Cadastrar</a></div>
			</div>
			<div class="modalBar"></div>
		</div>
	</div>
</div>


<script type="text/javascript">
	
// Valida os campos ao perder o foco
$('input').blur( function (obj) {

	switch(obj.target.name){

		case 'signin_User':

			break;

		case 'signin_Nome','signin_Sobrenome':

			break;

		case 'signin_Cep':
			
			break;

		case 'signin_Senha', 'signin_Senha2':
			break;

		default:

	}

});


	// Envia o cadastro ao clicar no botao Cadastrar
	$('#signin_btn').click( function () {

		var cadastro = {
			usuario:	$('#signin_User').val(),
			nome: 		$('#signin_Nome').val(),
			sobrenome:	$('#signin_Sobrenome').val(),
			email: 		$('#signin_Email').val(),
			email2:		$('#signin_Email2').val(),
			telefone:	$('#signin_Tel').val(),
			cep: 		$('#signin_Cep').val(),
			pwd:		$('#signin_Senha').val(),
			pwd: 		$('#signin_Senha2').val()
		};



	});

</script>