<script type="text/javascript">
	$(document).ready(function() {
		$.getScript("/js/includes_home.js");
	});
</script>
<div id="home">
	<div id="historyBg" class="row">
		<div id="history">
			<div id="last_product">
				<div class="row"><a href=""><img src="/i/produtoA.png"></a></div>
				<div class="row area_title">Visita recente</div>
			</div>
			<div id="categories">
				<a href="">
					<div class="row titulo">mouse gamer razer deathadder</div>
					<div class="row preco preco--last_product">R$ 259,99</div>
				</a>
				<div class="row">
					<div class="row similar">ofertas similares</div>
					<div class="row similar_results">
						<ul>
							<li><a href=""><img src="/i/produtoB.png" alt=""><div class="preco">R$ 2392,00</div></a></li>
							<li><a href=""><img src="/i/produtoC.png" alt=""><div class="preco">R$ 480,00</div></a></li>
							<li><a href=""><img src="/i/produtoD.png" alt=""><div class="preco">R$ 144,96</div></a></li>
							<li><a href=""><img src="/i/produtoA.png" alt=""><div class="preco">R$ 95,45</div></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="last_searches">
				<ul>
					<a href=""><li>iphone5</li></a>
					<a href=""><li>hd externo 200gb</li></a>
					<a href=""><li>nikon d3200</li></a>
					<a href=""><li>nexus 4 16gb</li></a>
					<a href=""><li>lanterna led 200w</li></a>
					<a href=""><li>razer deathadder</li></a>
					<li class="area_title">Últimas buscas</li>
				</ul>
			</div>
			<div id="last_searches_results">
				<ul>
					<li><a href=""><img src="/i/produtoA.png" alt=""><div class="preco">R$ 1,00</div></a></li>
					<li><a href=""><img src="/i/produtoB.png" alt=""><div class="preco">R$ 1,00</div></a></li>
					<li><a href=""><img src="/i/produtoC.png" alt=""><div class="preco">R$ 1,00</div></a></li>
					<li><a href=""><img src="/i/produtoD.png" alt=""><div class="preco">R$ 1,00</div></a></li>
					<li><a href=""><img src="/i/produtoE.png" alt=""><div class="preco">R$ 1,00</div></a></li>
					<li><a href=""><img src="/i/produtoF.png" alt=""><div class="preco">R$ 1,00</div></a></li>
				</ul>
				<ul>
					<li><a href=""><img src="/i/produtoF.png" alt=""><div class="preco">R$ 2,00</div></a></li>
					<li><a href=""><img src="/i/produtoE.png" alt=""><div class="preco">R$ 2,00</div></a></li>
					<li><a href=""><img src="/i/produtoD.png" alt=""><div class="preco">R$ 2,00</div></a></li>
					<li><a href=""><img src="/i/produtoC.png" alt=""><div class="preco">R$ 2,00</div></a></li>
					<li><a href=""><img src="/i/produtoB.png" alt=""><div class="preco">R$ 2,00</div></a></li>
					<li><a href=""><img src="/i/produtoA.png" alt=""><div class="preco">R$ 2,00</div></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="categoriasBg" class="row">
		<ul id="categorias">
			<li class="btnCategories">Brinquedos</li>
			<li class="btnCategories">Celulares e Telefones</li>
			<li class="btnCategories">Eletrodomésticos</li>
			<li class="btnCategories">Eletrônicos, Áudio e Vídeo</li>
			<li class="btnCategories">Filmes e Seriados</li>
			<li class="btnCategories">Informática</li>
			<li class="btnCategories">Saúde e Beleza</li>
			<li class="btnCategoriesMore">MAIS CATEGORIAS</li>
		</ul>
	</div>
	<div id="mais_buscadosBg" class="row">
		<div id="mais_buscados">
			Mais Buscados
		</div>
	</div>
	<div id="anunciosBg" class="row">
		<div id="anuncios">
			Principais Anúncios
		</div>
	</div>
	<div id="campanhaBg" class="row">
		<div id="campanha">
			Campanha Especial: Produtos + vendidos da campanha
			ou
			Promoções / Facilidades: Produtos c/ Frete Grátis, Brindes, etc.
		</div>
	</div>
</div>