<div id="modalLogin" class="modal fade" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modalBar"></div>
			<div class="fields">
				<input type="text" placeholder="Usuário" id="login_user">
				<input type="password" placeholder="Senha" id="login_senha">
				<a href="javascript:void(0)" class="botao" id="login_btn">Entrar</a>
				<a href="javascript:void(0)" id="login_novo">Novo Usuário</a>
				<span id="msg" />
			</div>
			<div class="modalBar"></div>
		</div>
	</div>
</div>

<script type="text/javascript">

function zeraCampos(){
	$('#login_user').attr('placeholder','Usuário');
	$('#login_senha').attr('placeholder','Senha');
	$('input').removeClass('form_erro');
}

		$("#login_btn").click( function() {

			user = $('#login_user').val();
			pwd = $('#login_senha').val();

			if(user==''){
				zeraCampos();
				$('#login_user').attr('placeholder','Digite um usuário'); 
				$('#login_user').addClass('form_erro');
				return false;

			}else if(pwd==''){
				zeraCampos();
				$('#login_senha').attr('placeholder','Digite uma senha'); 
				$('#login_senha').addClass('form_erro');
				return false;
			}

			
			$('#login_btn').css('background-color', '#E1E6ED');
			$('#login_btn').click(false);
			$('body, input, #login_btn').css('cursor','wait');

			$.ajax({
	           	type: 'POST',
	           	url: 'user/auth',
		        data: {login_user: user, login_senha: pwd},
				cache: false,
				timeout: 5000,
	           	success: function(data)	{
	           			
	           			switch(data){

	           			case 'loginOk': /* ------------------------ Dá os parabéns ao novo usuário, já logado ---------------------- */

		           			$('#modalLogin').modal('hide');
		           			$('#user_info').html('true');
		           			loadMenu();
		           			return false;
							break;

	           			case 'userNotFound':
	           				zeraCampos();
	           				$('#login_user').val('');
	           				$('#login_user').attr('placeholder','Usuário inexistente'); 
	           				$('#login_user').addClass('form_erro');
	           				break;

	           			case 'incorrectPwd':
	           				zeraCampos();
	           				$('#login_senha').val('');
	           				$('#login_senha').attr('placeholder','Senha incorreta'); 
	           				$('#login_senha').addClass('form_erro');
	           				break;

//	           			default:
	           				

	      //      				zeraCampos();
		     //       			//console.log(data);
							// var respObj = jQuery.parseJSON(data);

							// $.each(respObj, function(index, element){

							// 		//$('#signin_'+index).parent().attr("data-hint", "Nome de usuário em uso");
							// 		//$('#signin_'+index).addClass("form_erro");

							// 		//$('#signin_'+index).addClass("form_ok");

							// 		$('#signin_'+index).parent().addClass("hint--rounded hint--left");
							// 		$('#signin_'+index).addClass("form_erro");
							// 		$('#signin_'+index).parent().attr("data-hint", element);
							// 		//$('#lbl'+index).append(element);

							// });


							// 	$('#signin_btn').attr("disabled", false);
							// 	$('#signin_Nome').focus();

	           		}

					$('#login_btn').click(true);
					$('#login_btn').css('background-color','357AE8');
					$('body, input, #login_btn').css('cursor','default');

	            }
	         });

		});


</script>