<div id="logo"><img src="/i/mecca.svg" alt="Mundo Mecca" title="Mundo Mecca" onerror="this.onerror=null; this.src='/i/mecca.png'"></div>

	<div id="busca" class="alignR">
		<form name="search" id="search" method="GET" action="localhost:5000/busca" autocomplete="off">
			<input type="text" class="txtSearch valignM" autofocus="autofocus" placeholder="" tabIndex=1 id="s" name="s"><input type="button" value="" class="btnSearch rR" id="btn_search" name="btn_search">
			<div id="results"></div> 
		</form>
	</div>

<div id="menuIcons" class="">
	<div class="menuBtnAcc alignR">
		<img src="/i/menuAcc.svg" alt="Minha Conta" title="Minha Conta" onerror="this.onerror=null; this.src='/i/menuAcc.png'">
	</div>
	<div class="notifications">
		<div class="icon"><img src="/i/menuNotifications.svg" alt="Minha Conta" title="Minha Conta" onerror="this.onerror=null; this.src='/i/menuNotifications.png'"></div>
		<div class="number">22</div>
	</div>
</div>
<div id="menuAcc" class="closed">
	<div class="row menuAccSeta alignR padR_6"><img src="/i/menuAccSeta.png"></div>
	<div class="row menuAccBar marT_8"></div>
	<div class="row menuAccItem"><div class="icon"><img src="/i/menu_myacc.png" alt=""></div><div class="text">Minha Conta</div></div>
	<div class="row menuAccItem"><div class="icon"><img src="/i/menu_mybids.png" alt=""></div><div class="text">Minhas Ofertas</div></div>
	<div class="row menuAccItem"><div class="icon"><img src="/i/menu_favorites.png" alt=""></div><div class="text">Favoritos</div></div>
	<div class="row menuAccItem"><div class="icon"><img src="/i/menu_history.png" alt=""></div><div class="text">Histórico</div></div>
	<div class="row menuAccItem"><div class="icon"><img src="/i/menu_anuncios.png" alt=""></div><div class="text">Meus Anúncios</div></div>
	<div class="row menuAccItem"><div class="icon"><img src="/i/menu_sell.png" alt=""></div><div class="text">Vender</div></div>
	<div class="row menuAccBar"></div>
</div>
