@charset "CP850";
@font-face { font-family: 'Oswald'; src: local("☺"), url("../fonts/Oswald-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'PTMono'; src: local("☺"), url("../fonts/PTM55FT.ttf") format("truetype"); font-weight: normal; font-style: normal; }
/* --------------------------------------------------------- */
/* COLORS                                                    */
/* --------------------------------------------------------- */
.q95, .q90, .q80, .q70, .q60, .q50, .q40 { color: #fff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

/* --------------------------------------------------------- */
/* MIXINS                                                    */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* GERAL                                                     */
/* --------------------------------------------------------- */
html { background-color: #f9f9f9; }

#app { width: 100%; }

.max_1280 { max-width: 1280px; padding: 0 20px; }

#perfil { padding-top: 30px; }

/* --------------------------------------------------------- */
/* MENU BAR                                                  */
/* --------------------------------------------------------- */
#app #menuBar { height: 60px; background-color: #e6eaf0; }
#app #menuBar #menu { display: flex; flex-flow: inline; height: 60px; }
#app #menuBar #menu #logo { height: 60px; line-height: 60px; }
#app #menuBar #menu #logo img { vertical-align: middle; }
#app #menuBar #menu #busca .btnSearch { vertical-align: middle; background-color: #357ae8; }
#app #menuBar #menu #busca .btnSearch:hover { background-color: #3e3e3e; }
#app #menuBar #menu #menuIcons .menuAccBtn { cursor: pointer; }
#app #menuBar #menu #menuAcc { position: absolute; width: 180px; right: 30px; top: 45px; }
#app #menuBar #menu #menuAcc.closed { opacity: 0; display: none; }
#app #menuBar #menu #menuAcc.open { opacity: 1; display: block; }
#app #menuBar #menu #menuAcc .menuAccSeta { height: 7px; }
#app #menuBar #menu #menuAcc .menuAccBar { height: 5px; background-color: #357ae8; }
#app #menuBar #menu #menuAcc .menuAccItem { height: 45px; background-color: #f5f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#e5e5e5)); background-image: -webkit-linear-gradient(top, whitesmoke, #e5e5e5); background-image: -moz-linear-gradient(top, whitesmoke, #e5e5e5); background-image: -ms-linear-gradient(top, whitesmoke, #e5e5e5); background-image: -o-linear-gradient(top, whitesmoke, #e5e5e5); background-image: linear-gradient(top, whitesmoke, #e5e5e5); }
#app #menuBar #menu #menuAcc .menuAccItem .icon { width: 45px; height: 100%; float: left; border-right: 1px solid #dcdcdc; padding: 10px; }
#app #menuBar #menu #menuAcc .menuAccItem .text { height: 100%; float: left; border-left: 1px solid #fff; padding: 15px 0px 15px 10px; color: #000; font-family: 'Arial'; font-size: 14px; }
#app.l_1280 #menuBar #menu logo, #app.l_1024 #menuBar #menu logo { min-width: 190px; align-self: center; }
#app.l_1280 #menuBar #menu #busca, #app.l_1024 #menuBar #menu #busca { flex: 1 0 auto; align-self: center; }
#app.l_1280 #menuBar #menu #menuIcons, #app.l_1024 #menuBar #menu #menuIcons { min-width: 100px; align-self: center; }
#app.l_768 #menuBar #menu #logo { min-width: 150px; align-self: center; }
#app.l_768 #menuBar #menu #busca { flex: 1 0 auto; align-self: center; }
#app.l_768 #menuBar #menu #busca .txtSearch { min-width: 200px; }
#app.l_768 #menuBar #menu #menuIcons { min-width: 75px; align-self: center; }
#app.l_480 #menuBar #menu #logo { flex: 1 0 auto; align-self: center; }
#app.l_480 #menuBar #menu #busca { flex: 1 0 auto; align-self: center; }
#app.l_480 #menuBar #menu #busca .txtSearch { min-width: 200px; }
#app.l_480 #menuBar #menu #menuIcons { min-width: 75px; align-self: center; }

/* --------------------------------------------------------- */
/* ANNOUNCEMENT BAR                                          */
/* --------------------------------------------------------- */
#announceBar #announce #announce_title { font: 22px Arial,sans-serif; }
#announceBar #announce #announce_desc { font: 14px Arial,sans-serif; }
#announceBar #announce #announce_close { position: absolute; right: 10px; top: 70px; }

/* --------------------------------------------------------- */
/* FOOTER     				                                       */
/* --------------------------------------------------------- */
#footer { z-index: 1000000; position: fixed; width: 100%; background-color: #fff; height: 0px; bottom: -1px; border-top: 1px solid #ccc; color: #999; font-family: 'PTMono'; font-size: 14px; }
#footer #handler { float: right; width: auto; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #ccc; border-width: 1px 1px 0 1px; background-color: #fff; margin: -30px 30px 0 0; border-radius: 3px 3px 0 0; text-align: center; cursor: pointer; }

/* --------------------------------------------------------- */
/* HOME PAGE	    			                             */
/* --------------------------------------------------------- */
#history { height: 360px; padding: 40px 0px; background-color: #f5f6f9; }
#history #last_product { font-family: 'Oswald'; font-size: 14px; text-transform: uppercase; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; letter-spacing: 0.25px; }
#history #last_product img { width: 240px; heigth: 240px; }
#history #categories { width: 380px; }
#history #categories a { text-decoration: none; }
#history #categories a:hover .titulo { color: #357ae8; }
#history #categories a:hover .preco, #history #categories a:hover .preco--last_product { background-color: #357ae8; }
#history #categories a:hover .preco--last_product { background-color: #39b54a; background-image: -webkit-gradient(linear, left top, left bottom, from(#39b54a), to(#2f953d)); background-image: -webkit-linear-gradient(top, #39b54a, #2f953d); background-image: -moz-linear-gradient(top, #39b54a, #2f953d); background-image: -ms-linear-gradient(top, #39b54a, #2f953d); background-image: -o-linear-gradient(top, #39b54a, #2f953d); background-image: linear-gradient(top, #39b54a, #2f953d); }
#history #categories .titulo { font-family: 'Oswald'; font-size: 22px; color: #8795a9; text-transform: uppercase; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; letter-spacing: 0.25px; }
#history #categories .similar { font-family: 'Oswald'; font-size: 18px; color: #8795a9; text-transform: uppercase; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; letter-spacing: 0.25px; }
#history #categories .similar_results ul li { display: inline-block; margin-right: 2px; }
#history #categories .similar_results ul li img { width: 90px; height: 90px; }
#history #categories .similar_results ul li img:after { content: "\a"; white-space: pre; }
#history #categories .similar_results ul li a { text-decoration: none; }
#history #categories .similar_results ul li a:hover .preco, #history #categories .similar_results ul li a:hover .preco--last_product { background-color: #357ae8; }
#history #last_searches div ul a { text-decoration: none; }
#history #last_searches div ul a:hover li { background-color: #8795a9; }
#history #last_searches div ul li { width: 200px; height: 35px; line-height: 35px; display: block; margin-bottom: 5px; background-color: #c8d0dd; font-family: 'Oswald'; font-size: 14px; text-transform: uppercase; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; letter-spacing: 0.25px; color: #fff; text-align: center; }
#history #last_searches_results { width: 300px; height: 280px; }
#history #last_searches_results ul li { display: inline-block; }
#history #last_searches_results ul li img { width: 90px; height: 90px; }
#history #last_searches_results ul li img:after { content: "\a"; white-space: pre; }
#history #last_searches_results ul li a { text-decoration: none; }
#history #last_searches_results ul li a:hover .preco, #history #last_searches_results ul li a:hover .preco--last_product { background-color: #357ae8; }

#categorias { background-color: #e1e6ed; }

#mais_buscados { background-color: #f5f6f9; }

#anuncios { background-color: #e1e6ed; }

#campanha { background-color: #f5f6f9; }

.area_title { color: #fff; background-color: #61c109; background-image: -webkit-gradient(linear, left top, left bottom, from(#61c109), to(#349e4c)); background-image: -webkit-linear-gradient(top, #61c109, #349e4c); background-image: -moz-linear-gradient(top, #61c109, #349e4c); background-image: -ms-linear-gradient(top, #61c109, #349e4c); background-image: -o-linear-gradient(top, #61c109, #349e4c); background-image: linear-gradient(top, #61c109, #349e4c); font-family: 'Oswald'; font-size: 14px; text-transform: uppercase; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; letter-spacing: 0.25px; text-align: center; width: 100%; height: 35px; line-height: 35px; margin-top: 5px; }

.preco, .preco--last_product { font-family: 'Oswald'; font-size: 14px; color: #fff; text-transform: uppercase; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; letter-spacing: 0.5px; text-align: center; width: 90px; height: 35px; line-height: 35px; margin-top: 5px; background-color: #8795a9; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25); }

.preco--last_product { background-color: #357ae8; }

/* --------------------------------------------------------- */
/* PERFIL   			                                           */
/* --------------------------------------------------------- */
#app #content #perfil { display: flex; justify-content: center; align-content: flex-start; align-items: flex-start; }
#app #content #perfil #produtos { padding-left: 30px; padding-right: 30px; }
#app #content #perfil #produtos .titulo { color: #686f82; letter-spacing: -1px; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; line-height: 32px; font-family: 'Oswald'; font-size: 28px; }
#app #content #perfil #produtos .filters { color: #999; font-family: 'PTMono'; font-size: 14px; }
#app #content #perfil #produtos .filters img { margin-left: 5px; }
#app #content #perfil #produtos .anuncioBox a { font-family: 'Arial'; text-decoration: none; }
#app #content #perfil #produtos .anuncioBox .nome { color: #367be9; font-family: 'Arial'; }
#app #content #perfil #stats { padding-left: 30px; padding-right: 30px; text-align: center; }
#app #content #perfil #stats #user_avatar img { width: 100%; }
#app #content #perfil #stats #user_name { color: #686f82; letter-spacing: -1px; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; line-height: 32px; font-family: 'Oswald'; font-size: 28px; }
#app #content #perfil #stats #user_place { color: #999; font-family: 'PTMono'; font-size: 14px; }
#app #content #perfil #stats #user_stats { color: #999; font-family: 'PTMono'; font-size: 14px; }
#app.l_1280 #content #perfil, #app.l_1024 #content #perfil { flex-direction: row; flex-wrap: nowrap; }
#app.l_1280 #content #perfil #produtos, #app.l_1024 #content #perfil #produtos { flex: 1; }
#app.l_1280 #content #perfil #stats, #app.l_1024 #content #perfil #stats { flex: 0 0 360px; }
#app.l_768 #content #perfil { flex-direction: row; flex-wrap: nowrap; }
#app.l_768 #content #perfil #produtos { flex: 1; }
#app.l_768 #content #perfil #stats { flex: 0 0 320px; }
#app.l_480 #content #perfil { flex-direction: column; flex-wrap: nowrap; }
#app.l_480 #content #perfil #produtos { width: 100%; }
#app.l_480 #content #perfil #stats { width: 100%; margin-top: 50px; }
