/* --------------------------------------------------------- */
/* HOME PAGE	    			                             */
/* --------------------------------------------------------- */
#historyBg {
	padding: 40px 0px;
	background-color: $grey10;
}

#history {
	@include display-flex;
	@include boxC;
	
	@include bp(low) {
		@include flex-direction('column');
		@include justify-content('center');
		@include max_100p;
	}
	@include bp(mobile) {
		@include flex-direction('column');
		@include justify-content('flex-start');
		@include max_100p;
	}
	@include bp(netbook) {
		@include justify-content('space-between');
		@include max_100p;
	}
	@include bp(desk) {
		@include justify-content('space-between');
		@include max_1280;
	}
}

#last_product {
	@include display-flex;

	@include bp(low) {
		@include flex-direction('column');
		@include justify-content('center');
		@include align-content('center');
		width: 100%;
		margin-bottom: 40px;
	}
	@include bp(mobile) {
		width: 100%;
		margin-bottom: 40px;
	}

	#img {
		margin-right: 10px;
		outline: 1px solid $border;
		img { 
			width: 240px;
			heigth: 240px;
		}

		@include bp(low) {
			width: 100%;
			margin-bottom: 1px;
			img {
				width: 100%;
			}
		}
	}

	#infos {
		width: 420px;
		outline: 1px solid $border;

		@include bp(low) {
			width: 100%;
		}
		@include bp(mobile) {
			@include flex('1');
		}
		@include bp(netbook) {
			width: 380px;
		}

		// PRODUCT INFOS 
		// -------------------------------------------------------------------------------------------
		#product_info {
			.max {
				@include display-flex;

				height: 180px;
				padding: 30px;
				background-color: #fff;

				a {
					text-decoration: none;
					&:hover {
						.titulo {
							color: $blue;
						}
						.preco--last_product {
							background-color: $darkGrey;
						}
					}
				}

				.infos {
					@include display-flex;
					@include flex-direction('column');
					@include justify-content('space-between');
					@include flex('1');

					height: 120px;

					text-decoration: none;
					.titulo {
						font: {
							family: 'Oswald';
							size: 22px;
						}
						line-height: 24px;
						color: $midGrey;
						text-transform: uppercase;
						@include antialiased;
					  	letter-spacing: 0.25px;
					}
				}
				.actions {
					width: 90px;
					text-align: right;
					.follow:hover {
						cursor: pointer;
						path { fill: $blue; }
					}
				}
			}
			.min {
				@include display-flex;
				@include justify-content('space-between');

				height: 60px;
				line-height: 60px;
				@include gWhiteGrey;
				border-top: 1px solid $border;

				&:hover {
					@include gWhiteGreyHover;
					cursor: pointer;
					.loja {
						color: $blue;
					}
				}

				.loja {
					font: {
						family: 'Oswald';
						size: 20px;
					}
					color: $midGrey;
					text-transform: uppercase;
					@include antialiased;
					padding: 0px 20px;
				}
				.rating {
					width: 90px;
					height: 100%;
					@include q95;
					font: {
						// family: 'PTMono';
						size: 20px;
					}
					text-align: center;
				}
			}
		}

		// SELLER INFOS 
		// -------------------------------------------------------------------------------------------
		#seller_info {
			.max {
				@include display-flex;
				@include flex-direction('column');

				height: 180px;
				padding: 30px;
				background-color: #fff;

				.infos {
					@include display-flex;
					width: 100%;
					height: 100%;

					.loja {
						@include display-flex;
						@include flex-direction('column');
						@include flex('1');

						a {
							text-decoration: none;
							&:hover {
								.titulo {
									color: $blue;
								}
							}
						}

						.titulo {
							font: {
								family: 'Oswald';
								size: 22px;
							}
							line-height: 24px;
							color: $midGrey;
							text-transform: uppercase;
							@include antialiased;
						  	letter-spacing: 0.25px;	
						}
						.location {
							@include display-flex;
							align-content: center;
							margin-top: 10px;
							.place {
								margin-left: 8px;
								font: {
								  family: 'PTMono';
								  size: 14px;
								}
								color: $midGrey;
								@include antialiased;
								letter-spacing: 0.25px;
								.state {
									text-transform: uppercase;
								}
							}
						}
					}
					.actions {
						@include display-flex;
						@include justify-content('flex-end');
						width: 90px;
						height: 30px;
						.follow {
							margin-left: 15px;
							&:hover {
								cursor: pointer;
								path { fill: $blue; }
							}
						}
						.stats:hover {
							cursor: pointer;
							path { fill: $blue; }
						}
					}
				}
				.ratings {
					@include display-flex;
					@include justify-content('space-between');
					@include align-items('center');
					width: 100%;

					.qGeral, .seta, .qNeg, .qAte, .qAnu, .qNegC {
						height: 40px;
						line-height: 40px;
						cursor: default;
						@include noSelection;
					}

					.qGeral {
						width: 80px;
						text-align: center;
						@include q95;
					}

					.details {
						@include display-flex;
						@include justify-content('space-between');

						.qNeg, .qAte, .qAnu, .qNegC {
							width: 50px;
							margin-left: 5px;
							text-align: center;
						}

						.qNeg  { @include q95; }
						.qAte  { @include q90; }
						.qAnu  { @include q70; }
						.qNegC { @include q80; }
					}
				}
				
			}
			.min {
				@include display-flex;
				@include justify-content('space-between');

				height: 60px;
				line-height: 60px;
				@include gWhiteGrey;
				border-bottom: 1px solid $border;

				&:hover {
					@include gWhiteGreyHover;
					cursor: pointer;
					.loja, .produto {
						color: $blue;
					}
					.preco--info {
						background-color: $darkGrey;
					}
				}

				.produto {
					font: {
						family: 'Oswald';
						size: 18px;
					}
					color: $midGrey;
					text-transform: uppercase;
					@include antialiased;
					padding: 0px 20px;

					@include bp(mobile, netbook) {
						font-size: 16px;
					}
				}
				.preco--info {
					margin: auto 10px;
					width: 90px;
					height: 40px;
					line-height: 40px;
					background-color: $blue;
				}
			}
		}
	}
}

// SIMILARES
// -------------------------------------------------------------------------------------------
#similares {
	@include display-flex;
	@include flex-direction('column');
	@include justify-content('space-between');
	@include flex('1');
	margin-left: 10px;

	@include bp(mobile) {
		width: 100%;
		margin-left: 0px;
	}

	#nav {
		@include display-flex;
		@include justify-content('center');

		height: 60px;
		line-height: 60px;
		padding: 0px 20px;
		outline: 1px solid $border;
		@include gWhiteGrey;

		&:hover {
			@include gWhiteGreyHover;
			.titulo {
				color: $blue;
			}
		}

		.titulo {
			font: {
				family: 'Oswald';
				size: 18px;
			}
			color: $midGrey;
			text-transform: uppercase;
			@include antialiased;
			@include noSelection;
			cursor: default;
		  	letter-spacing: 0.25px;
		}

		.setaEsq:hover path, .setaDir:hover path {
			fill: $blue;
			cursor: pointer;
		}

	}

	#similarProductsResults {
		position: relative;
		width: 100%;
		height: 165px;
		outline: 1px solid $border;
		background-color: $grey25;
		padding: 10px;
		overflow: hidden;
		cursor: move;

		@include bp(mobile) {
			height: 215px;
		}

		#similarProducts {
			position: absolute;

			.scroller {
				position: absolute;

				ul {
					@include display-flex;
					@include justify-content('flex-start');

					li {
						@include flex('0 0 auto');
						margin-right: 10px;
						img {
							width: 100px;
							height: 100px;
							margin-bottom: 10px;

							@include bp(mobile) {
								width: 150px;
								height:150px;
							}
						}
						img:after {
							content:"\a";
				    		white-space: pre;
						}
						a {
							text-decoration: none;

							@include bp(mobile) {
								.preco {
									width: 150px;
								}
							}

							&:hover {
								.preco {
									background-color: $blue;
								}
							}
						}
						&:last-child {
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
}



// ULTIMAS BUSCAS
// -------------------------------------------------------------------------------------------
#lastSearchesBg {
	background-color: $grey50;
	padding: 40px 0px;
}

#lastSearches {
	@include display-flex;
	@include justify-content('space-between');
	@include max_1280;
	@include boxC;
	height: 190px;
	width: 100%;

	#list {
		@include display-flex;
		@include flex-direction('column');
		@include align-items('flex-end');

		.titulo {
			text-align: center;
			height: 40px;
			line-height: 40px;
			padding: 0px 20px;
			background-color: $midGrey;
			color: #fff;
			@include txtOswald18;
			@include noSelection;
			cursor: default;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		.search_item {
			@extend .titulo;
			@include gWhiteGrey;
			color: $midGrey;
			cursor: pointer;
			&:hover {
				@include gWhiteGreyHover;
				color: $blue;
			}
		}
		.active {
			@extend .titulo;
			@include gReset($blue);
			color: #fff;
			cursor: default;
			&:hover {
				@include gReset($blue);
				color: #fff;
			}
		}
	}

	#lastSearchesResults {
		@include flex('1');
		position: relative;
		margin-left: 20px;
		overflow: hidden;
		cursor: move;

		#lastSearch1, #lastSearch2, #lastSearch3 {
			position: absolute;

			.scroller {
				position: absolute;

				ul {
					@include display-flex;
					@include justify-content('flex-start');
					
					li {
						@include flex('0 0 auto');
						margin-right: 10px;
						img {
							width: 140px;
							height: 140px;
							margin-bottom: 10px;
						}
						img:after {
							content:"\a";
				    		white-space: pre;
						}
						.preco-lastSearches {
							height: 40px;
							line-height: 40px;
							width: 100%;
						}
						a {
							text-decoration: none;
						}
						a:hover .preco {
							background-color: $blue;
						}
						&:last-child {
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
}

// CATEGORIAS
// -------------------------------------------------------------------------------------------
#categoriasBg {
	background-color: $grey30;
	padding: 20px 0px;
}

#categorias {
	@include display-flex;
	@include justify-content('space-between');
	@include max_1280;
	@include boxC;

	@include bp(low) {
		@include flex-direction('column');
		@include flex-wrap('wrap');
	}
	@include bp(mobile) {
		@include flex-direction('column');
		@include flex-wrap('wrap');
	}

	.btnCategories {
		@include botao;
		color: #fff;
		background-color: $blue;
		font-size: 14px;

		@include bp(low) {
			margin-bottom: 5px;
		}
		@include bp(mobile) {
			margin-bottom: 5px;
		}
	}
	.btnCategoriesMore {
		@include botao;
		color: #fff;
		background-color: $darkGreen;
		font-size: 14px;
	}
	.btnCategories:hover, .btnCategoriesMore:hover {
		background-color: $darkGrey;
	}
}

// DESTAQUES
// -------------------------------------------------------------------------------------------
#anunciosDestaqueBg {
	background-color: $grey10;
	padding: 40px 0px;
}

#anunciosDestaque {
	@include display-flex;
	@include flex-direction('column');
	@include justify-content('space-between');
	@include max_100p;
	@include boxC;
	height: 250px;
	width: 100%;

	@include bp(desk) {
		@include max_1280;
	}

	#nav {
		@include display-flex;
		@include justify-content('center');

		height: 50px;
		line-height: 50px;
		padding: 0px 20px;
		outline: 1px solid $border;
		margin-top: 10px;
		
		@include gWhiteGrey;

		&:hover {
			@include gWhiteGreyHover;
			.titulo {
				color: $blue;
			}
		}
		
		.titulo {
			font: {
				family: 'Oswald';
				size: 18px;
			}
			color: $midGrey;
			text-transform: uppercase;
			@include antialiased;
			@include noSelection;
			cursor: default;
		  	letter-spacing: 0.25px;
		}
	}

	#anunciosDestaqueResults {
		@include flex('1');
		position: relative;
		// margin-left: 20px;
		overflow: hidden;
		cursor: move;

		@include bp(low) {
			margin-left: 0px;
		}
		@include bp(mobile) {
			margin-left: 0px;
		}

		.scroller {
			position: absolute;

			ul {
				@include display-flex;
				@include justify-content('flex-start');
				
				li {
					@include flex('0 0 auto');
					margin-right: 10px;
					img {
						width: 140px;
						height: 140px;
						margin-bottom: 10px;
					}
					img:after {
						content:"\a";
			    		white-space: pre;
					}
					.preco-lastSearches {
						height: 40px;
						line-height: 40px;
						width: 100%;
					}
					a {
						text-decoration: none;
					}
					a:hover .preco {
						background-color: $blue;
					}
					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
		
	}
}

// ANUNCIOS DESTAQUE
// -------------------------------------------------------------------------------------------
#anunciosBg {
	background-color: $grey30;
	padding: 30px 0px;
}

#anuncios {
	@include max_1280;
	@include boxC;
}

// CAMPANHA
// -------------------------------------------------------------------------------------------
#campanhaBg {
	background-color: $grey50;
	padding: 30px 0px 100px 0px;
}

#campanha {
	@include max_1280;
	@include boxC;
}

/* --------------------------------------------------------- */
/* GERAL		    			                             */
/* --------------------------------------------------------- */

.preco {
	font: {
		family: 'Oswald';
		size: 14px;
	}
	color: #fff;
	text-transform: uppercase;
	@include antialiased;
  	letter-spacing: 0.5px;
  	text-align: center;
  	width: 100px;
  	height: 35px;
  	line-height: 35px;
  	background-color: $midGrey;
  	text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
  	@include transitions;
}

.preco--last_product {
	@extend .preco;
	background-color: $blue;
}

.popover {
	width: 200px;
	height: 130px;
	background-color: $midGrey;
	margin-top: 20px !important;

	&.bottom > .arrow {
		border-bottom-color: $lightGrey;
		&:after {
		  border-bottom-color: $midGrey;
		}
	}

	.infos {
		@include display-flex;
		@include flex-direction('column');
		
		.titulo {
			height: 85px;
			padding: 15px 20px;
			@include gWhiteGrey;
			font: {
				family: 'Oswald';
				size: 16px;
			}
			line-height: 20px;
			text-transform: uppercase;
			text-align: center;
			@include noSelection;
			@include antialiased;
			color: $midGrey;
		}
		.bar {
			@include display-flex;
			height: 45px;

			.icons {
				@include display-flex;
				@include align-self('center');
				@include flex('1');
				height: 45px;
				padding: 0px 15px;
				background-color: $lightGrey;
				svg {
					margin-right: 5px;
				}
			}
			.rating {
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
			}
		}

	}
}