/* --------------------------------------------------------- */
/* MENU BAR                                                  */
/* --------------------------------------------------------- */

#menuBg {
	background-color: $grey25;
	#menu {
		#logo {
			height: 60px;
			line-height: 60px;
			img {
				vertical-align: middle;
			}
		}

		#menuIcons {
			height: 60px;
			line-height: 60px;

			.notifications {
				position: relative;
				float: right;
				width: 36px;
				height: 36px;
				margin: 12.5px 10px;
				cursor: pointer;
				.icon {
					width: 36px;
					height: 36px;
					position: absolute;
					.menuNotificationsSVG path {
						@include transitions;
						fill: $bgDarkOrange;
					}
				}
				.number {
					@include noSelection;
					position: relative;
					z-index: 10;
					text-align: center;
					@include txtOswald14;
					color: #fff;
					margin: -12.5px 0px;
				}
				//  DROP MENU NOTIFICATIONS
				#menuNotifications {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;

					position: absolute;
					z-index: 10;
					width: 420px;
					right: -47px;
					top: 47px;
					&.closed {
						opacity: 0;
						display: none;
					}
					&.open {
						opacity: 1;
						display: flex;
					}
					.menuNotificationsBar {
						height: 5px;
						background-color: $bgBlue;
					}
					.menuNotificationsItem {
						display: flex;
						@include gWhiteGrey;
						.thumb {
							width: 60px;
							height: 60px;
							border-right: 1px solid #dcdcdc;
							padding: 5px;
						}
						.infos {
							flex: 1;
							padding: 0px 0px 0px 10px;

							display: flex;
							flex-direction: column;
							justify-content: center;
							.titulo {
								font: {
									family: "Oswald";
									size: 14px;
								}
								line-height: 14px;
								color: $txtBlue;
								text-transform: uppercase;
								@include antialiased;
							  	letter-spacing: 0.25px;
							  	margin-bottom: 5px;
							}
							.action {
								font: {
									family: "PTMono";
									size: 12px;
									color: #ccc;
								}
								line-height: 12px;
								text-transform: uppercase;
								@include antialiased;
							}
						}
					}
				}
			}
			.notifications:hover .icon .menuNotificationsSVG path{
				fill: $bgDarkGrey;
			}
			.menuBtnSettings {
				position: relative;
				float: right;
				width: 36px;
				height: 36px;
				margin: 12.5px 0px;
				right: 0;
				cursor: pointer;
				.menuSettingsSVG:hover path {
					@include transitions;
				    fill: $bgDarkGrey;
				}
				// DROP MENU SETTINGS
				#menuSettings {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;

					position: absolute;
					z-index: 10;
					width: 180px;
					right: 0px;
					top: 47px;
					&.closed {
						opacity: 0;
						display: none;
					}
					&.open {
						opacity: 1;
						display: flex;
					}
					.menuSettingsBar {
						height: 5px;
						background-color: $bgBlue;
					}
					.menuSettingsItem {
						display: flex;

						height: 45px;
						@include gWhiteGrey;
						.icon {
							width: 45px;
							height: 100%;
							border-right: 1px solid #dcdcdc;
							padding: 0 10px;
						}
						.text {
							flex: 1;
							height: 100%;
							line-height: 45px;
							border-left: 1px solid #fff;
							padding: 0px 0px 0px 10px;
							@include txtMenuAcc;
						}
					}
				}
			}
		}
	}
}

/* -------------------------------------------------------- */
/* xs: phone 479 -											*/
/* -------------------------------------------------------- */
@media (max-width: $screen-sm-max) { 
	#menuBg {

		#menu {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			@include max_100p;
			@include boxC;

			#busca {
				flex: 0 1 100%;
				order: 1;

				#form_container {
					display: flex;
					justify-content: space-between;
					align-items: center;

					input[type=text] {
						flex: 1;
					}
					.btnSearch {
						@include transitions;
						vertical-align: middle;
						background-color: $bgBlue;
					}
					.btnSearch:hover {
						background-color: $bgDarkGrey;
					}
				}

			}

		}

	}
}
/* -------------------------------------------------------- */
/* sm-md-lg: tablet 768 +									*/
/* -------------------------------------------------------- */
@media (min-width: $screen-md-min) { // 
	#menuBg {
		height: 60px;

		#menu {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			height: 60px;
			@include max_1280;
			@include boxC;

			#logo {
				flex: 1;
			}

			#busca {
				margin-right: 10px;

				#form_container {
					input[type=text] {
						min-width: 300px;
					}
					.btnSearch {
						@include transitions;
						vertical-align: middle;
						background-color: $bgBlue;
					}
					.btnSearch:hover {
						background-color: $bgDarkGrey;
					}
				}
			}

		}
	}
}